@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #212121;
  font-size: 16px;
  outline: none;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  color: #000;
  width: 350px;
}
input[type="file"] {
  border: none;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #212121;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #212121;
}

.showBtn:hover {
  text-decoration: none !important;
}
